In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # data visualization
import seaborn as sns # statistical data visualization
%matplotlib inline

Read data sets for Train and Test

In [2]:
data = r'C:/Users/Gaurav/Documents/Doceree-Complete-DataSet/Doceree_Complete_DataSet/Doceree-HCP_Train.csv'
test_data = r'C:/Users/Gaurav/Documents/Doceree-Complete-DataSet/Doceree_Complete_DataSet/Doceree-HCP_Test.csv'

df = pd.read_csv(data, encoding = "ISO-8859-1")
df_test = pd.read_csv(test_data, encoding = "ISO-8859-1")
test_id = df_test['ID']

Drop not relevant columns from dataset

In [3]:
# X = df.drop(['IS_HCP','BIDREQUESTIP','USERPLATFORMUID','USERZIPCODE','USERAGENT','URL','TAXONOMY','USERCITY','ID'], axis=1)
X = df.drop(['IS_HCP','BIDREQUESTIP','USERPLATFORMUID','USERCITY','USERZIPCODE','USERAGENT','URL','ID','TAXONOMY'], axis=1)
y = df['IS_HCP']

In [4]:
X_test_data = df_test.drop(['BIDREQUESTIP','USERPLATFORMUID','USERCITY','USERZIPCODE','USERAGENT','URL','ID'], axis=1)

Check for null values

In [5]:
X.isna().sum()

DEVICETYPE      0
PLATFORM_ID     0
PLATFORMTYPE    0
CHANNELTYPE     0
KEYWORDS        0
dtype: int64

In [6]:
df.isnull().sum()

ID                     0
DEVICETYPE             0
PLATFORM_ID            0
BIDREQUESTIP           0
USERPLATFORMUID        4
USERCITY            6359
USERZIPCODE         4592
USERAGENT              2
PLATFORMTYPE           0
CHANNELTYPE            0
URL                    0
KEYWORDS               0
TAXONOMY           81624
IS_HCP                 1
dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

Label encoding for feature extraction

In [8]:
import category_encoders as ce

encoder = ce.OrdinalEncoder(cols=['DEVICETYPE',  'PLATFORMTYPE', 'CHANNELTYPE', 'KEYWORDS'])


X_train = encoder.fit_transform(X_train)

X_test = encoder.transform(X_test)

X_test_data = encoder.transform(X_test_data)

In [9]:
X_train.shape, X_test.shape

((76337, 5), (37600, 5))

In [10]:
X_train

        DEVICETYPE  PLATFORM_ID  PLATFORMTYPE  CHANNELTYPE  KEYWORDS
102738           1            2             1            1         1
49568            2            2             1            1         2
23786            1            2             1            1         3
41780            2            2             1            1         4
19372            1            2             1            1         2
...            ...          ...           ...          ...       ...
76820            1            2             1            1       139
110268           1            2             1            1        38
103694           1            7             1            1       159
860              3            2             1            1        14
15795            1            2             1            1        58

[76337 rows x 5 columns]

In [11]:
X_test

        DEVICETYPE  PLATFORM_ID  PLATFORMTYPE  CHANNELTYPE  KEYWORDS
15343            2            2           1.0            1     500.0
55980            1            7           1.0            1      21.0
46941            2            2           1.0            1       7.0
42395            1            2           1.0            1     235.0
58127            1            9           1.0            1     136.0
...            ...          ...           ...          ...       ...
69013            1            2           1.0            1      79.0
80997            1            2           1.0            1    2163.0
34566            1            2           1.0            1       2.0
72698            1            2           1.0            1     215.0
105435           1            7           1.0            1      21.0

[37600 rows x 5 columns]

Random Forest classifier for training dataset

In [12]:
# import Random Forest classifier
from sklearn.ensemble import RandomForestClassifier
# instantiate the classifier 
rfc = RandomForestClassifier(max_depth=3,random_state=0)
# fit the model
rfc.fit(X_train, y_train)
# Predict the Test set results
y_pred = rfc.predict(X_test)
# Check accuracy score 
# from sklearn.metrics import accuracy_score
# print('Model accuracy score with 10 decision-trees : {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

In [13]:
y_pred = rfc.predict(X_test)

In [14]:
y_pred_test = rfc.predict(X_test_data)

In [15]:
print(type(y_pred))

<class 'numpy.ndarray'>

In [16]:
print(X_train)

        DEVICETYPE  PLATFORM_ID  PLATFORMTYPE  CHANNELTYPE  KEYWORDS
102738           1            2             1            1         1
49568            2            2             1            1         2
23786            1            2             1            1         3
41780            2            2             1            1         4
19372            1            2             1            1         2
...            ...          ...           ...          ...       ...
76820            1            2             1            1       139
110268           1            2             1            1        38
103694           1            7             1            1       159
860              3            2             1            1        14
15795            1            2             1            1        58

[76337 rows x 5 columns]

In [17]:
X_train.describe()

         DEVICETYPE   PLATFORM_ID  PLATFORMTYPE  CHANNELTYPE      KEYWORDS
count  76337.000000  76337.000000  76337.000000      76337.0  76337.000000
mean       1.343831      3.576785      1.041029          1.0    252.042168
std        0.536311      2.564802      0.233822          0.0    368.260643
min        1.000000      1.000000      1.000000          1.0      1.000000
25%        1.000000      2.000000      1.000000          1.0     38.000000
50%        1.000000      2.000000      1.000000          1.0     93.000000
75%        2.000000      6.000000      1.000000          1.0    307.000000
max        4.000000     15.000000      4.000000          1.0   2282.000000

In [18]:
X_train.isnull().sum()

DEVICETYPE      0
PLATFORM_ID     0
PLATFORMTYPE    0
CHANNELTYPE     0
KEYWORDS        0
dtype: int64

In [19]:
y_test = y_test

In [20]:
y_res = y_test.to_numpy(dtype = 'float64')

In [21]:
type(y_res)

numpy.ndarray

In [22]:
y_pred = np.delete(y_pred, 1)

In [23]:
type(y_pred)

numpy.ndarray

In [24]:
y_pred

array([0., 0., 0., ..., 0., 0., 0.])

In [25]:
y_res

array([1., 1., 0., ..., 0., 1., 1.])

In [26]:
np.any(np.isnan(y_pred))

False

In [27]:
y_res = y_res[~np.isnan(y_res)]

In [28]:
np.any(np.isnan(y_res))

False

In [29]:
from sklearn.metrics import accuracy_score
print('Model accuracy score with 10 decision-trees : {0:0.4f}'. format(accuracy_score(y_res, y_pred)))

Model accuracy score with 10 decision-trees : 0.6974

In [30]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_res, y_pred))

0.6973589723130934

In [31]:
df = pd.DataFrame()
df['IDLink'] = test_id
df['IS_HCP'] = y_pred_test
df.to_csv('C:/Users/Gaurav/Documents/Doceree-Complete-DataSet/Doceree_Complete_DataSet/sample_submit.csv', index=False)